name: Vyper-HOL Theories Build

on:
  workflow_dispatch:
  push:
    paths:
    - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get latest PolyML commit hash
        id: polyml-version
        run:
          echo "hash=$(git ls-remote https://github.com/polyml/polyml.git HEAD | cut -f1 )" >> $GITHUB_OUTPUT

      - name: Cache PolyML
        uses: actions/cache@v3
        id: cache-polyml
        with:
          path: $HOME/polyml-install
          key: polyml-${{ runner.os }}-${{ steps.polyml-version.outputs.hash }}

      - name: Build and Install PolyML
        if: steps.cache-polyml.outputs.cache-hit != 'true'
        run: |
          git clone https://github.com/polyml/polyml.git
          cd polyml
          ./configure --prefix=$HOME/polyml-install
          make
          make install

      - name: Add polyml to PATH
        run: echo "$HOME/polyml-install/bin" >> "$GITHUB_PATH"

      - name: Verify polyML setup
        run: poly -v

      - name: Cache HOL4
        uses: actions/cache@v3
        id: cache-hol4
        with:
          path: $HOME/HOL
          key: hol-${{ runner.os }}

      - name: Setup and Build HOL4
        if: steps.cache-hol4.outputs.cache-hit != 'true'
        run: |
          git clone https://github.com/HOL-Theorem-Prover/HOL.git $HOME/HOL
          cd $HOME/HOL
          git checkout master
          poly < tools/smart-configure.sml
          bin/build

      - name: Add HOL to PATH and export HOLDIR
        run: |
          echo "$HOME/HOL/bin" >> "$GITHUB_PATH"
          echo "HOLDIR=$HOME/HOL" >> "$GITHUB_ENV"

      - name: Verify HOL is executable
        run: hol --help

      - name: Get latest Verifereum commit hash
        id: verifereum-version
        run:
          echo "hash=$(git ls-remote https://github.com/verifereum/verifereum.git HEAD | cut -f1 )" >> $GITHUB_OUTPUT

      - name: Cache Verifereum
        uses: actions/cache@v3
        id: cache-verifereum
        with:
          path: $HOME/verifereum
          key: verifereum-${{ runner.os }}-${{ steps.verifereum-version.outputs.hash }}

      - name: Clone and Build Verifereum
        if: steps.cache-verifereum.outputs.cache-hit != 'true'
        run: |
          git clone https://github.com/verifereum/verifereum.git $HOME/verifereum
          cd $HOME/verifereum
          Holmake

      - name: Set VFMDIR
        run: echo "VFMDIR=$HOME/verifereum" >> "$GITHUB_ENV"

      - name: Build Vyper-HOL
        run: Holmake
