name: Vyper-HOL Theories Build

on:
  workflow_dispatch:
  push:
    branches:
    - main
    paths:
    - '**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-hol
      - run: Holmake
  vyper-tests:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-hol
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Export Vyper tests
        shell: bash
        run: |
          git clone --depth 1 https://github.com/vyperlang/vyper.git vyper-src
          python -m pip install -U pip
          python -m pip install -e vyper-src
          python -m pip install pytest pytest-xdist hypothesis
          cd vyper-src
          pytest -s -n 1 --export tests/export -m "not fuzzing" tests/functional/codegen
          cd ..
          cp -R vyper-src/tests/export tests/vyper-test-exports
      - name: Run exported Vyper tests
        working-directory: tests
        run: Holmake --qof
