name: Vyper-HOL Theories Build

on:
  workflow_dispatch:
  push:
    paths:
    - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-hol
      - run: Holmake
